
/* animação mt foda */

@keyframes up{
    from{
        opacity: 0;
        transform: translateY(16px)
    
    }
    to { 
        opacity: 1;
        transform: translateY(0)/*essa animação é mt boa */

    }

}

@keyframes right{
    from{
        transform: translateX(-100%)
    }
    to{
        transform: translateX(0)
    }
}

@keyframes appear{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* tamanho de duração */
.animate-up{
    animation-name: up;
    animation-duration: 1s; 
    animation-fill-mode: backwards;
}
.animate-right{
    animation-name: right;
    animation-duration: 1s; /*mudei o tempo*/
}

.animate-appear{
    animation-name: appear;
    animation-duration: .2s;
    animation-fill-mode: backwards;
}